body{
    background-color: black;
}

.card{
    width: 230px;
    height: 450px;
    text-align: center;
    white-space: pre-wrap;
}

.card-img-wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: 340px;
    box-shadow: 0 0 5px 0 black;
    overflow: hidden;
    transition: .25s;
}

.card-play-button{
    position: absolute;
    background-image: url("play-button.svg");
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    opacity: 0;
    transition: .25s;
}

.card-img-wrapper:hover{
    box-shadow: 0 0 5px 0 white;
    transition: .25s;
}

.card-img-wrapper:hover .card-play-button{
    opacity: 1;
    transition: .25s;
}

.card-play-button:hover{
    transform: translate(-50%, -50%) scale(1.25);
    transition: .25s;
}

.card-img-wrapper:hover .card-img{
    filter: brightness(40%);
    transform: scale(1.1);
    transition: .25s;
}

.card-img{
    width: 100%;
    height: 100%;
    transition: .25s;
}

.card-name{
    margin-top: 20px;
}
