.main-anime {
    margin-left: 65px;
    margin-top: 250px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 500px;
}

.yas{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.year, .age, .seasons {
    color: gray;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    white-space: pre-wrap;
}

.age {
    outline: solid 1px rgb(52, 52, 214);
}

.description {
    margin-top: 18px;
    font-family: 'Oswald', sans-serif;
}