.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    background-color: #212529;
    color: white;
    box-sizing: border-box;
}

