*{
    margin: 0;
    padding: 0;
}

.header{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #212529;
}

.navigation{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 65px;
    width: 70%;
}

.logo{
    font-family: 'Roboto Mono', monospace;
    color: rgb(170, 0, 255);
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
}

.nav{
    display: flex;
    gap: 16px;
   margin-left: 30px; 
}

.nav li{
    list-style-type: none;
}

.nav-item{
    position: relative;
    color: white;
    font-weight: bold;
}

.nav-item.active::before{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-item::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: .1s;
}

.nav-item:hover::before{
    width: 100%;
    transition: .1s;
}

.search-wrapper *{
    color: black;
}

.search-wrapper{
    position: relative;
    margin-left: auto;
    z-index: 1;
}

.search{
    height: 30px;
    width: 280px;
    border-radius: 5px;
    padding: 8px;
    padding-left: 36px;
    color: black;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 0 6px 0 rgb(0,0,0,.5);
    transition: .25s;
}

.search-container{
    position: relative;
}

.search-container > img{
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translate(0, -50%);
}

.search.finded{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.search:focus{
    outline: none;
}

.result-wrapper{
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.result-item{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 80px;
    background-color: white;
    padding: 1px;
    border-top: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.result-item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.result-name-wrapper{
	height: 100%;
}

.result-name{
    font-size: 14px;
    color: black;
}

.result-img{
    height: 100%;
    width: 60px;
}

.genres-wrapper{
	display: flex;
	gap: 5px;
	align-items: space-between;
}

.helping{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    background: linear-gradient(0deg, rgba(177, 152, 5) 50%, rgba(3, 86, 174) 50%);
    height: 30px;
    width: 100%;
}